<h1>Edit Billboard Form</h1>

<%= form_for @billboards do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :rank %>
    <%= f.check_box :rank %>

    <%= f.submit%>
<% end %>
