<h1>New Billboard Form</h1>

<%= form_for @billboard do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :rank%>
    <%= f.check_box :rank %>

    <%= f.submit%>
<% end %>
